html {
  height: 100%;
}

body {
    margin: 0px;
    // background-color: #232323;
    background-color: white;
    min-height: 100%;
    // color: $text-color;
    color: #888;
    font-family: $base-font-family;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;

    // For the sticky footer
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
  color: $primary-color;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: darken($primary-color, 10%);
}
a:active {
  color: darken($primary-color, 15%);
}

h1 {
    padding-top: 20px;
    letter-spacing: -0.2rem;
}
h1 strong {
    color: $primary-color;
}

h3 {
  margin-bottom: 5px;
}

b, strong {
  font-weight: bold;
}

.site-header {
    padding: 5px 0;
    font-size: 20px;
    line-height: 24px;
    background-color: #333;
    img {
        width: 24px;
        height: 24px;
        margin-top: -10px;
    }
}

.site-footer {
    margin: 10px 0 0px;
}

.site-nav-link {
  padding-left: 20px;
}


.site-title {
    margin: 5px 5px;
    .moon {
        width: 20px;
        padding: 0px 10px;
        height: auto;
    }
    .rust-logo {
        width: 31px;
        padding: 8px 6px;
        background: cover 10% 10%;
        position: absolute;
    }
}

.moon {
    width: 250px;
    margin-top: 20px;
    padding: 30px 30px;
}
.rust-logo {
    width:300px;
     padding: 10px; 
     margin-top: 20px; 
     background: cover 10% 10%;
     position: absolute;
}

.hero {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 360px;
    background-color: #333;
    background-image:url('/images/stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ccc;
    margin-bottom: 0px;
}

.hero h3 {
    margin-bottom: 20px;
}

.color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #000;
   opacity: 0.3;
}

.tldr-headline {
    letter-spacing: -0.15rem;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: center;
    line-height: 3rem;
    padding-top: 20px;
    padding-bottom: 40px;

}

.crate-description {
    // letter-spacing: -0.10rem;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 20px;
}

.crate-type {
    // letter-spacing: -0.12rem;
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 0px;
    padding-bottom: 40px;
}

.crate-socials {
    float: right;
    margin-right: 20px;
}

.crate-headline {
    letter-spacing: -0.15rem;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

.crate-card {
    padding-top: 0px;
    margin-bottom: 30px;
    padding-left: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 2px 2px 5px  #c4c3c3;
}

.mt-mb-hd {
    margin-top: 80px;
    margin-bottom: 20px;
    letter-spacing: -0.15rem;
    font-size: 3.0rem;
    font-weight: bold;
    text-align: left;
    line-height: 3rem;
    padding-top: 20px;
    padding-bottom: 40px;
}

.page-content {
    flex: 1;
}

.container {
    padding: 8px;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.tiles {
    font-weight: bold;
    flex-wrap: wrap;
    a, a:hover, a:visited, a:active {
        color: $text-color;
    }
}

.tile {
    height: 130px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 4px 1px 1px 1px;
    border-style: solid;
    margin-bottom: 20px;
}

a:hover .tile {
    color: #ccc;
}

.green { color: $status-green; }
.yellow { color: $status-yellow; }
.red { color: $status-red; }

.tile-green {
    border-color: $status-green;
}

.tile-yellow {
    border-color: $status-yellow;
}

.tile-red {
    border-color: $status-red;
}

.post-content {
    margin-bottom: 60px;
}

.followup {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px 0;
    border: 2px solid orange; /* TODO: using colors by name is basically never good design */
}

.github-corner {
    position: absolute;
    z-index: 100;
}

.crate-stat {
    padding-right: 30px;
    white-space: nowrap;
}

@media screen and (max-width: 47.9em) {
    .hide-xs { display: none; }
}

@media screen and (min-width: 48em) and (max-width: 63.9em) {
    .hide-sm { display: none; }
}

@media screen and (min-width: 64em) and (max-width: 74.9em) {
    .hide-md { display: none; }
}

@media screen and (min-width: 75em) {
    .hide-lg { display: none; }
    .hide-xs, .hide-sm, .hide-sm { display: flex; }
}
